<div class="row">
  <div class="col-xs-6">
    <h1> Income </h1>
    <div class="well">
      <ul class="nav nav-list">
        <%=nested_budget_entries @budget_entries.where({:income => true}).arrange(:order => :created_at) %>
      </ul>
    </div>
  </div>
  <div class="col-xs-6">
    <h1> Expenses </h1>
    <div class="well">
        <ul class="list-group">
          <%=nested_budget_entries @budget_entries.where({:income => false}).arrange(:order => :created_at) %>
        </ul>
    </div>
  </div>
</div>
