<div class="page-header">
  <%= link_to new_budget_entry_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Budget entry
  <% end %>
  <h1>Listing budget_entries</h1>
</div>

<%=render 'list'%>
